.button {
    border-radius: 42px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

.primary {
    background: #ff5c00;
    color: #ffffff;
    border: 2px solid #ff5c00;
} 

.secondary {
    background: #ffffff;
    color:#ff5c00;
    border: 2px solid #ff5c00;
}

