.completeCard {
    display: inline-flex;
    width: 360px;
    border-radius: 45px;
    flex-direction: column;
    position: relative;
}

.pictureMeuble {
border-radius: 45px 45px 0px 0px;
}

.bottomCard {
    background-color: #DCC0A7;
    border-radius: 0px 0px 45px 45px;
}

.description {
    display: flex;
    flex-direction: column;    
    padding: 25px;
    text-align: left;
}

.paraphDescript {
    font-size: 17px;
    font-family: 'Inter';
    font-style: normal;
}

.type {
    font-weight: bold;
}

.descrip-button {
    display: flex;
    flex-direction: row;
}

.price {
    display: flex;
    width: 116px;
    height: 73px;
    position: absolute;
    right: 30px;
    bottom: 90px;
}


.price p {
    color: #FFFFFF;
    font-size: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold; 
}

.iconplus {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;

}