.completeCard {
    display: inline-flex;
    width: 360px;
    border-radius: 45px;
    flex-direction: column;
    position: relative;
    
}

.pictureMeuble {
border-radius: 45px 45px 0px 0px;
}

.bottomCard {
    background-color: #DCC0A7;
    border-radius: 0px 0px 45px 45px;
}

.description {
    display: flex;
    flex-direction: column;    
    padding: 25px;
    text-align: left;
}

.titleDescript{
    font-size: 1.5em;
    overflow: auto;
    text-overflow: ellipsis;
    height: 30px
}

.paraphDescript {
    font-size: 17px;
    font-family: 'Inter';
    font-style: normal;
    overflow: scroll;
    width: auto;
    height: 100px;
}

.category {
    font-weight: bold;
}

.descrip-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    display: flex;
    width: 116px;
    height: 0px;
    position: relative;
    left: 230px;
    bottom: 30px;
}


.price p {
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold; 
}

.iconplus {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;

}

.positionimage{
    margin-top: 75px;
}