.footer {
    width: 100%;
    height: 100px;
    background-color: #a48468;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    
}

.footer .logo {
    justify-content: flex-start;
    height: 100%;
}