.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-size: 1.2rem;   
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 15px 30px 15px 15px;
}

.header .logo {
    width: 200px;
    display: block;
}

.header-menu {
    display: flex;
    gap: 50px;

    margin-bottom: 0px;
}

.header-links {
    color: #1E1E1E;
    text-decoration: none;
    position: relative;
}
.header-links:hover{
    text-decoration: none;
    color:#1E1E1E
}

.header-links::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: #ff5c00;
    transition: all 300ms ease;
}

.header-links:hover::after {
    width: 100%;
}