.header {
    width: 1728px;
    height: 135px;
    display: flex;
    height: 80px;
    justify-content:flex-start;
    align-items: center;
    font-size: 1.2rem;   
    background-color: #fff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.header .logo {
    justify-content: flex-end;
    margin-left: 10px;
    height: 100%;
}

.navBar {
    display: flex;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.navBar li {
    display: inline-block;
    vertical-align: middle;
    justify-content: space-between;
    list-style: none;
}

.navBar-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .navBar-links:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }