.home {
    height: 100vh;
}

/* section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
} */

/* .products {
  padding: 6em;
  padding-bottom:0;
  align-content: space-between;
  flex-wrap: wrap;
} */

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../assets/home_header_picture_4.png);
    color: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
}

.home .resp{
  max-width: 70%;
  text-align: center;
}

.resp h2{
  color: #1E1E1E;
  font-size: 2.4em;
  font-family: Gloock, serif;
  font-weight: normal;
  text-align: left;
  margin-top: 90px;
}

.resp h1{
  color: #ff5c00;
  font-size: 11rem;
  font-family: Gloock, serif;
  font-weight: normal;
  text-align: left;
  line-height: 8rem;
}

.home .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  height: 70px;
  width: 70px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.home .arrow:hover {
  box-shadow: 0px 0px 10px 1px rgba(72, 72, 72, 0.5);
}

.arrow img{
  width: 30px;
  margin: auto 0;
}