#button {
    border-radius: 42px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 5px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

#button:hover{
    background-color: black;
}

.primary {
    background: #ff5c00;
    color: #ffffff;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 16px
} 

.secondary {
    background: #ffffff;
    color:#ff5c00;
    border: 2px solid #ff5c00;
    font-size: medium;
    padding: 1px 12px
}

.primary:hover, .secondary:hover{
    background-color: black;
}

.svg {
    height: 22px;
    padding: 0px 10px 3px 5px;
    vertical-align: middle;
}