.total-cart {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    margin-left: 126px;
}

.total{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.totalarticle{
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin:auto;
}

#price-total {
    color: #E47727;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
}

.boutoncommande{
    margin: auto;
}