body { 
	background-color: #fefefe;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.containerDetailsProduct {
  display: flex;
  margin: 3em;
  gap: 50px;

}

.btnSeeMore{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    font-family: Gloock, serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 2.5rem;
    color: #1E1E1E;
    margin-bottom: 30px;
}
.allProducts{
  height: 90px;
  font-family: 'Gloock';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 90px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #1E1E1E;  
}
.carroussel img {
  height: 520px;
  width: 400px;
  border-radius: 45px;
}

.container {
    max-width: 1220px;
    margin: auto;
    padding: 3px;
}

.cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 45px;
    justify-content: space-between;
}
.boxInfos {
  display:flex;
  flex-direction: column;
  gap: 7px;
}

.boxInfos h3{
  color: #81746d;
  font-size: 16px;
}

.boxInfos h2 {
  font-family: 'Gloock';
  font-size:32px;
  color: #ff5c00;
  margin-bottom: 0;
}

.typeProduct {
  margin-bottom: 2em;
}

.descriptionProduct{
  margin-bottom: 1em;

}

.dimensionsProduct, .textureProduct, .colorProduct {
  height: 15px;
}

.colorProduct{
  margin-bottom: 8em;
}

.flowerproduct{
  opacity: 0.33;
  height: 500px;
}

.footerInfos {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filter_button {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-family: 'Inter';
  font-weight: bold;
  height: 40px;
  width: 1000px;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.title_Home {
   width: 400px;
   height: 100px;
   padding-top: 20px;
}



