body { 
	background-color: #fefefe;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.containerDetailsProduct {
  padding: 2em;
  display: flex;
  width: 90%;
  margin:auto;
  padding: 3em;
}

h1 {
    font-family: Gloock, serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 2.5rem;
    color: #1E1E1E;
    margin-bottom: 30px;
}
.allProducts{
  width: 645px;
  height: 90px;
  font-family: 'Gloock';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 90px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #1E1E1E;
}
.carroussel img {
  border-radius: 45px;
}

.container {
    max-width: 1220px;
    margin: auto;
    padding: 30px;
}

.cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 45px;
    justify-content: space-between;
}
.boxInfos {
  display:flex;
  flex-direction: column;
  margin-left: 1em;
  height: 100%;
  justify-content: space-between;
  gap: 20px;
}
.boxInfos h2 {
  font-family: 'Gloock';
  font-size:32px;
  color: #ff5c00;
}

.footerInfos {
  display: flex;
  width: 100%;
}